{{ template "base.html" }}
<div class="container">
    <br>
    <h1 class="text-center">Table of Game</h1>
    <br>

    <table class="table table-secondary table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {{ range .games }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Brand }}</td>
            <td>
                <form action="/read_details/{{.ID}}" method="GET">
                    <input class="btn btn-primary" type="submit" value="View">
                </form>
            </td>
            <td>
                <form action="/update_game/{{.ID}}" method="GET">
                    <input class="btn btn-success" type="submit" value="Edit">
                </form>
            </td>
            <td>
                <form action="/delete_game/{{.ID}}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                </form>
            </td>
        </tr>
        {{ end }}
    </table>
</div>